.wrapper {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
}

.item {
	--bg-color: #fff;
	width: 100px;
	height: 100px;
	background-color: var(--bg-color);
}

.item.active {
	--bg-color: green;
}

.item:nth-child(5) {
	grid-column: 1;
}
